In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

In [3]:
eu_waste_data = pd.read_csv('../src/aggregate_trash.csv', header='infer')

In [4]:
eu_waste_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1061452 entries, 0 to 1061451
Data columns (total 7 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   stk_flow     1061452 non-null  object
 1   rawmat       1061452 non-null  object
 2   partner      1058928 non-null  object
 3   unit         1061452 non-null  object
 4   geo          1061452 non-null  object
 5   TIME_PERIOD  1061452 non-null  int64
 6   OBS_VALUE    1061452 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 56.7+ MB

In [5]:
eu_waste_data = eu_waste_data[eu_waste_data["partner"] == "KR"]

In [6]:
print (eu_waste_data.head())

    stk_flow rawmat partner unit        geo  TIME_PERIOD  OBS_VALUE
210      EXP   GLAS      KR    T         DE         2009    15059.0
211      EXP   GLAS      KR    T  EU27_2020         2009    17699.0
212      EXP   GLAS      KR    T         FR         2009     1670.0
213      EXP   GLAS      KR    T         IE         2009       53.0
214      EXP   GLAS      KR    T         IT         2009      917.0

In [7]:
kr_df_med = pd.read_csv('../src/KR_Medical_Waste.csv', header='infer')

In [8]:
kr_df_med.head(12)

               업체명      2017      2021      2022
0            (주)경서   1799.74   6363.40   4831.20
1          (주)디디에스   4092.69  10695.88   5459.09
2     (주)스테리싸이클코리아  34969.74  34929.56  16071.19
3          (주)아림환경  22463.80  17521.35   8941.49
4     (주)에코비트에너지경주  40417.03  30903.76  16013.73
5     (주)에코비트에너지광주   9801.84   8730.44   4772.30
6        (주)엔비텍코리아   6951.85   6039.99   3271.27
7          (주)이메디원   7705.06  18611.26   8712.33
8          도시환경(주)  21655.49  17556.64   6224.84
9          엔씨메디(주)   3248.72   3577.44   1823.79
10    주식회사 에코비트에너지  23205.36  23404.94  11210.32
11  주식회사 에코비트에너지경산   5986.01  14097.18   8153.73

In [9]:
kr_df_med.describe()

               2017          2021          2022
count     13.000000     13.000000     13.000000
mean   15841.276923  16298.576154   8155.468462
std    12698.932387   9524.388384   4451.375375
min     1799.740000   3577.440000   1823.790000
25%     5986.010000   8730.440000   4831.200000
50%     9801.840000  17521.350000   8153.730000
75%    23205.360000  19449.650000  10535.810000
max    40417.030000  34929.560000  16071.190000

In [10]:
print(kr_df_med.shape)

(13, 4)

In [11]:
kr_df_gen = pd.read_csv('../src/KR_Corp_Waste.csv', encoding="cp949")

In [12]:
kr_df_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16330 entries, 0 to 16329
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   기초시군구(관할관청)  16330 non-null  object
 1   업체명          16330 non-null  object
 2   연락처          15850 non-null  object
 3   폐기물구분        9691 non-null   object
 4   폐기물명         16330 non-null  object
 5   연간배출량(톤)     16330 non-null  float64
dtypes: float64(1), object(5)
memory usage: 765.6+ KB

In [13]:
kr_df_gen.head(5)

,기초시군구(관할관청),업체명,연락처,폐기물구분,폐기물명,연간배출량(톤)
0,강원특별자치도 강릉시,(주)기성환경,033-655-6969,사업장배출시설계폐기물,그 밖의 폐목재류,250.83
1,강원특별자치도 강릉시,(주)기성환경,033-655-6969,사업장배출시설계폐기물,폐합성수지류(폐염화비닐수지류는 제외한다),219.17
2,강원특별자치도 강릉시,(주)에코비트워터(강릉하수처리장),033-650-5200,사업장배출시설계폐기물,그 밖의 공정오니(무기성),0.00
3,강원특별자치도 강릉시,(주)에코비트워터(강릉하수처리장),033-650-5200,사업장배출시설계폐기물,그 밖의 유기성오니,0.00
4,강원특별자치도 강릉시,(주)에코비트워터(강릉하수처리장),033-650-5200,사업장배출시설계폐기물,그 밖의 폐기물,0.00

In [14]:
print(kr_df_gen.shape)

(16330, 6)

In [15]:
eu_df = pd.read_csv('../src/aggregate_trash.csv', header='infer')

In [16]:
eu_df.head(8)

  stk_flow rawmat partner     unit        geo  TIME_PERIOD  OBS_VALUE
0      EXP   GLAS      AE        T         DE         2009        5.0
1      EXP   GLAS      AE        T  EU27_2020         2009        5.0
2      EXP   GLAS      AE  THS_EUR         DE         2009        5.7
3      EXP   GLAS      AE  THS_EUR  EU27_2020         2009        5.7
4      EXP   GLAS      AR        T         BE         2009        0.0
5      EXP   GLAS      AR        T  EU27_2020         2009        0.0
6      EXP   GLAS      AR  THS_EUR         BE         2009        0.1
7      EXP   GLAS      AR  THS_EUR  EU27_2020         2009        0.1